engine-strict=true
auto-install-peers=true
shamefully-hoist=false
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*turbo*
